Django==1.11.29; python_version < '3.0'
Django==3.2.19; python_version >= '3.0'
psycopg2-binary==2.8.6; python_version < '3.0'
psycopg2-binary==2.9.6; python_version >= '3.0'
PyNaCl==1.4.0; python_version < '3.0'
PyNaCl==1.5.0; python_version >= '3.0'
selenium==4.3.0
six==1.16.0
# -r vendor/pdk_client/requirements.txt
