{% load static %}
{% load tz %}
{% load webmunk_enrollments %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<title>Enrollments | Webmunk</title>
		<!-- Bootstrap core CSS -->
		<link href="{% static 'enrollment/vendor/css/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'enrollment/vendor/css/bootstrap-table.css' %}" rel="stylesheet">

		<!-- Favicons -->
		<meta name="theme-color" content="#7952b3">
		<style>
			.bd-placeholder-img {
				font-size: 1.125rem;
				text-anchor: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				user-select: none;
			}

			@media (min-width: 768px) {
				.bd-placeholder-img-lg {
					font-size: 3.5rem;
				}
			}

			/* Show it's not fixed to the top */
			body {
				min-height: 75rem;
			}
			
			.navbar a {
				color: white;
				text-decoration: none;
			}

			.navbar a:hover {
				text-decoration: underline;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Enrollments</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse"></div>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{% url 'enrollments_txt' %}">Download CSV</a></li>
				</ul>
    		</div>
		</nav>

		<main class="container">
			<table class="table small" data-toggle="table" data-pagination="true" data-search="true" data-page-list="[10, 25, 50, 100]">
				<thead>
					<tr>
						<th scope="col" data-sortable="true">ID</th>
						<th scope="col" data-sortable="true">Original ID</th>
						<th scope="col" data-sortable="true">Rule Set</th>
						<th scope="col" data-sortable="true">Enrolled</th>
						<th scope="col" data-sortable="true">Last Updated</th>
						<th scope="col" data-sortable="true">Latest Data Point</th>
						<th scope="col" data-sortable="true">Uninstalled</th>
						<th scope="col" data-sortable="true">Intake Survey</th>
						<th scope="col" data-sortable="true">Upload</th>
						<th scope="col" data-sortable="true">Upload</th>
						<th scope="col" data-sortable="true">Final Survey</th>
					</tr>
				</thead>
				<tbody>
					{% for enrollment in enrollments %}
						<tr>
							<th scope="row">{{ enrollment.assigned_identifier }}</th>
							<td>{{ enrollment.current_raw_identifier }}</td>
							<td>{{ enrollment.rule_set }}</td>
							<td>{{ enrollment.enrolled|localtime|date:'Y-m-d H:i' }}</td>
							<td>{{ enrollment.last_fetched|localtime|date:'Y-m-d H:i' }}</td>
							{% if enrollment.latest_data_point %}
								<td>{{ enrollment.latest_data_point|localtime|date:'Y-m-d H:i' }}</td>
							{% else %}
								<td></td>
							{% endif %}
							<td>{{ enrollment.last_uninstalled|localtime|date:'Y-m-d H:i' }}</td>
							<td>{{ enrollment|fetch_completed_task:'qualtrics-initial' }}</td>
							<td>{{ enrollment|fetch_completed_task:'upload-amazon-start' }}</td>
							<td>{{ enrollment|fetch_completed_task:'upload-amazon-final' }}</td>
							<td>{{ enrollment|fetch_completed_task:'qualtrics-final' }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</main>
		<script src="{% static 'enrollment/vendor/js/jquery-3.6.0.min.js' %}" crossorigin="anonymous"></script>
		<script src="{% static 'enrollment/vendor/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
		<script src="{% static 'enrollment/vendor/js/bootstrap-table.js' %}" crossorigin="anonymous"></script>
	</body>
</html>
